#edit-profile-link{
    color:   #d32f2f;
}

#user-icon{
    color: #161517;
}
#user-name{
    color: #161517;
}

#background-div{
    //background-color: rgba(28, 35, 49, 1);
    //background-color: #d32f2f;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 140px;
}