<br>
<!-- Description and about the dev -->
<div class="row">
  <div class="col-lg-10">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec nulla et purus volutpat vulputate. Mauris et arcu
      lectus. Fusce commodo mauris eros, et scelerisque est porta vitae. Donec et euismod eros. Aliquam ut feugiat risus,
      a facilisis lectus. Nunc vitae cursus elit. Ut elementum ornare dolor at molestie.</p>
  </div>
  <div class="col-lg-2 highlight-content">
    <p class="highlight-content-header">74,326 Downloads</p>
    <p>1,203 Stars</p>
    <p>74,326 blah</p>
  </div>
</div>
<!-- /Description and about the dev -->
