.fakeEdge {
    stroke: #BDBDBD; 
    stroke-width: 2px;
    display:none;
    stroke-dasharray: 5 7;
}

svg {
    border: 1px solid #D32F2F;
    width: 100%;
    height: 100%;
}

.components {
    width: 100%;
}

.btn-execute {
    width: 100%;
    cursor: pointer;
}