.fakeEdge {
    stroke: #BDBDBD;
    stroke-width: 2px;
    display:none;
    stroke-dasharray: 5 7;
}

svg {
    padding: 0;
    margin: 0;
    border: 1px solid #D32F2F;
    width: 100%;
    height: 79%;
    // height: calc(100vh - 143px);
}

input[type='text'] {
    color: grey;
}

.btn-execute {
    width: 100%;
    cursor: pointer;
}

.add-component-button {
    top: calc(100vh/2);
    left: -30px;
    font-size: 6em;
    height: 19vh;
    width: 1%;
}

.show-output-button {
    top: calc(100vh/2);
    right: 13px;
    font-size: 6em;
    height: 19vh;
    width: 1%;
}

.edit-icon {
    cursor: pointer;
}

.output-label {
  margin: 0px;
  padding: 5px;
}

// No idea why this doesn't work
.ngx-contextmenu a {
    color:black;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}
