<br>
<div class="container">
    <div class="row">
        <h1>{{ project?.name }}</h1>
        <i class="fa fa-pencil fa-lg my-3 mx-2 edit-icon" data-toggle="modal" data-target="#nameModal"></i>
        <i class="edit-icon fa fa-play mx-2 fa-lg my-3" (click)="executeSession()"></i>
        <i class="edit-icon fa fa-share-square-o mx-2 fa-lg my-3" (click)="exportProject()"></i>
    </div>
</div>
<svg class="grey lighten-3 m-0 p-0" #svgElement>
    <g id="mainsvg">
        <line id="edgepath" x1="0" y1="0" x2="0" y2="0" class="fakeEdge"/>
    </g>
</svg>

<div class="fixed-action-btn add-component-button">
    <a class="btn-floating btn-lg red px-2">
        <i class="fa fa-caret-right" data-toggle="modal" data-target="#componentsModal"></i>
    </a>
</div>

<div class="fixed-action-btn show-output-button" *ngIf="output">
    <a class="btn-floating btn-lg red">
        <i class="fa fa-caret-left" data-toggle="modal" data-target="#outputModal"></i>
    </a>
</div>

<div *ngIf="project">
    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Project Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <input id="projectName" type="text" class="form-control" [(ngModel)]="project.name" name="projectName">
                        <label for="projectName" class="">Project Name</label>
                    </div>
                    <div class="md-form">
                        <input id="projectDescription" type="text" class="form-control" [(ngModel)]="project.description" name="projectDescription">
                        <label for="projectDescription" class="">Project Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn brand-color " data-dismiss="modal" (click)="saveProject()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="valueModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Input Value</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="currentInputNode">
                    <label for="values-input">Values</label>
                    <input id ="values-input" class="form-control active-pink-2" type="text" [(ngModel)]="currentInputNode.values">
                    <label for="dimensions-input">Dimensions</label>
                    <input id ="dimensions-input" class="form-control active-pink-2" type="text" [(ngModel)]="currentInputNode.dimensions">
                </div>
                <div class="modal-body" *ngIf="currentInputNode">
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn brand-color " data-dismiss="modal" (click)="saveProject()">Done</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="components" class="modal fade left" id="componentsModal" tabindex="-1">
        <div class="modal-dialog modal-full-height modal-left">
            <div class="modal-content">
                <div class="list-group z-depth-0">
                    <a href="#" class="list-group-item active">Base</a>
                    <a (click)="addInput(); saveProject()" class="list-group-item"><i class="fa fa-pencil-square-o mr-2"></i>Input</a>
                    <a (click)="addOutput(); saveProject()" class="list-group-item"><i class="fa fa-sign-out mr-2"></i>Output</a>
                    <a (click)="executeSession()" class="list-group-item"><i class="fa fa-play mr-2"></i>Execute</a>
                    <a href="#" class="list-group-item active">Components</a>
                    <a *ngFor="let component of getComponents()" (click)="addNode(component); saveProject()" class="list-group-item"><i class="fa fa-cubes mr-2"></i><span class='text-muted'>{{ component.name }}</span>/{{ component.author.username }}</a>
                </div>
                <div class="row px-2 fixed-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <form class="form-inline active-pink active-pink-2">
                        <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchParam" name="searchParam">
                      </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div *ngIf="output" class="modal fade right" id="outputModal" tabindex="-1">
        <div class="modal-dialog modal-full-height modal-right">
            <div class="modal-content">
                <div class="list-group z-depth-0">
                    <a href="#" class="list-group-item active">Ouput Details</a>
                </div>

                <p class="output-label">Rank: {{output.rank}}</p>
                <p class="output-label">Dimensions: {{output.dimensions}}</p>

                <div class="list-group z-depth-0">
                    <a href="#" class="list-group-item active">Ouput Values</a>
                </div>

                <span *ngFor="let value of output.output" class="output-label">{{value}}</span>

                <div class="list-group z-depth-0">
                    <a href="#" class="list-group-item active">Ouput List</a>
                </div>
                <p class="output-label">{{output.values}}</p>
            </div>
        </div>
    </div>
    <context-menu #deleteMenu>
        <ng-template contextMenuItem let-item (execute)="deleteNode($event.item)">
            Delete
        </ng-template>
    </context-menu>

    <context-menu #componentMenu>
            <ng-template contextMenuItem let-item (execute)="deleteNode($event.item)">
                Delete
            </ng-template>
            <ng-template contextMenuItem let-item (execute)="componentDetails($event.item)">
                Component Details
            </ng-template>
        </context-menu>

    <context-menu #deleteEdgeMenu>
        <ng-template contextMenuItem let-item (execute)="$event.item.remove()">
            Delete
        </ng-template>
    </context-menu>

    <context-menu #inputMenu>
        <ng-template contextMenuItem let-item (execute)="deleteNode($event.item)">
            Delete
        </ng-template>
        <ng-template contextMenuItem let-item (execute)="setValues($event.item)">
            Set Values
        </ng-template>
    </context-menu>
</div>
