<div class="row">
    <div class="col-xl-2 p-0 px-2 mt-3">
        <div class="card-body components ml-4">
            <div class="card-header red darken-2 white-text">Control</div>
            <a (click)="addInput()" class="list-group-item"><i class="fa fa-pencil-square-o mr-2"></i>Input</a>
            <a (click)="addOutput()" class="list-group-item"><i class="fa fa-sign-out mr-2"></i>Output</a>
            <a (click)="executeSession()" class="list-group-item"><i class="fa fa-play mr-2"></i>Execute</a>
        </div>
        <div class="card-body components ml-4 mt-3">
            <div class="card-header red darken-2 white-text">Components</div>
            <a (click)="addNode('Add', 'Math')" class="list-group-item"><i class="fa fa-calculator mr-2"></i><span class='text-muted'>Math</span>/Add</a>
            <a (click)="addNode('Subtract', 'Math')" class="list-group-item"><i class="fa fa-calculator mr-2"></i><span class='text-muted'>Math</span>/Subtract</a>
            <a (click)="addNode('Multiply', 'Math')" class="list-group-item"><i class="fa fa-calculator mr-2"></i><span class='text-muted'>Math</span>/Multiply</a>
            <a (click)="addNode('Divide', 'Math')" class="list-group-item"><i class="fa fa-calculator mr-2"></i><span class='text-muted'>Math</span>/Divide</a>
            <a *ngFor="let item of components" (click)="addNode(item.name, item.author)" class="list-group-item"><i class="fa fa-cube mr-2"></i><span class='text-muted'>{{ item.author }}</span>/{{ item.name }}</a>
        </div>
    </div>
    <div class="col-xl-9 ml-4 p-0 mt-3">
        <svg id="mainsvg" class="grey lighten-3" #svgElement
        (click)="click($event)">
            <line id="edgepath" x1="0" y1="0" x2="0" y2="0" class="fakeEdge"/>
        </svg>
    </div>
</div>
