.fakeEdge {
    stroke: #BDBDBD;
    stroke-width: 2px;
    display:none;
    stroke-dasharray: 5 7;
}

svg {
    border: 1px solid #D32F2F;
    width: 100%;
    height: calc(100vh - 143px);
}

input[type='text'] {
    color: grey;
}

.btn-execute {
    width: 100%;
    cursor: pointer;
}

.add-component-button {
    top: calc(100vh/2);
    left: -30px;
    font-size: 6em;
    height: 19vh;
    width: 1%;
}

.show-output-button {
    top: calc(100vh/2);
    right: 18px;
    font-size: 6em;
    height: 19vh;
    width: 1%;
}

.edit-icon {
    cursor: pointer;
}

// No idea why this doesn't work
.ngx-contextmenu a {
    color:black;
  }
