<!--Form with header-->
<div class="card">
    <div class="card-block">
        <form [formGroup]="registerForm" (ngSubmit)='onSubmit()' novalidate>
            <!--Header-->
            <div class="form-header brand-color">
                <h3><i class="fa fa-user"></i> Register</h3>
            </div>
    
            <!--Body-->
            <div class="md-form">
                <input type="text" id="username" formControlName="username" class="form-control" required>
                <label for="username">Your username</label>
            </div>
            <div class="md-form">
                <input type="text" id="email" formControlName="email" class="form-control" required>
                <label for="email">Your email</label>
            </div>
    
            <div class="md-form">
                <input type="password" id="password" formControlName="password" class="form-control" required>
                <label for="password">Your password</label>
            </div>
    
            <div class="text-center">
                <button type="submit" class="btn brand-color btn-block">Register</button>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <div class="container">             
            <div class="text-center">
                <small>
                    Have an account?
                    <a routerLink="/login" routerLinkActive="active">Log In.</a>
                </small>
            </div>
        </div>
    </div>
</div>
<!--/Form with header-->
