<!--Navbar-->
<nav class="mb-1 navbar navbar-toggleable-md navbar-dark bg-unique brand-color">
    <div class="container">
            <div class="mr-auto">
                <a class="navbar-brand" href="/home" routerLink="/home" routerLinkActive="active">
                    ODiN
                </a>

                
            </div>

                <ul class="nav navbar-nav navbar-right nav-flex-icons ml-auto">
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/home" routerLink="/home" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Home</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/projects" routerLink="/projects" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/designSpace" routerLink="/designSpace" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Design Space</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/view-package" routerLink="/view-package" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Package Browsing</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="/documentation" routerLink="/documentation" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Documentation</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="fa fa-user"></i>
                            <span class="clearfix d-none d-sm-inline-block">
                        Profile</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/login" routerLink="/login" routerLinkActive="active">Login</a>
                            <a class="dropdown-item" href="/register" routerLink="/register" routerLinkActive="active">Register</a>
                            <a class="dropdown-item" href="#" routerLink="/profile" routerLinkActive="active">My Profile</a>
                        </div>
                    </li>
                </ul>
            </div>
</nav>


