<nav class="mb-1 navbar navbar-toggleable-md navbar-dark bg-unique brand-color">
    <div class="container">
        <div class="mr-auto">
            <a class="navbar-brand" href="/home" routerLink="/home" routerLinkActive="active">
                ODIN
            </a>               
        </div>

        <ul class="nav navbar-nav navbar-right nav-flex-icons ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="/projects" routerLink="/projects" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Projects</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/designSpace" routerLink="/designSpace" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">New Project</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-package" routerLink="/view-package" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Packages</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/documentation" routerLink="/documentation" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block">Documentation</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" routerLink="/profile" routerLinkActive="active"><span class="clearfix d-none d-sm-inline-block"><i class="fa fa-user-circle"></i> <strong>Jason</strong></span></a>
            </li>
        </ul>
    </div>
</nav>


