
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark brand-dark lighten-5 mb-1">
        <div class="container">
            <a class="navbar-brand" href="#">
            </a>
            <form class="form-inline ml-auto waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form> 
            <i class="fa text-white fa-user-circle-o fa-2x ml-2"></i>
            <i class="fa text-white fa-caret-down mx-1" ></i>
        </div>
</nav>
