@import '../../../../scss/_variables.scss';

.document {
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
}

.document:hover {
    background-color: #e0e0e0;
}

.document > i {
    cursor: pointer;
}

.tab {
    // background-color: transparent;
    color: $brand-primary;
    border-radius: 3px;
}

.active {
    background-color: $brand-primary;
    color: white;
}

.tab:not(.active):hover {
    background-color: #e0e0e0;
}   