<!-- <div class="card">
    <div class="card-header">
        <h3>Documents</h3>
    </div> -->
    <!-- Folders -->
    <div class="d-flex align-items-center document"
        *ngFor="let folder_name of ['A box', 'Another box']">
        <i class="p-2 fa fa-dropbox fa-2x mx-5 my-2"></i>
        <div class = "p-2 mx-5">
            <div class="row">
                {{ folder_name }}                     
            </div>
            <div class="row">
                <small><em>12 Items</em></small>
            </div>
        </div>
        <i class="fa fa-info p-2 ml-auto mx-5"></i>
    </div>  

    <!-- Documents -->
    <div class="d-flex align-items-center document" 
        *ngFor="let document_name of ['A document', 'Another document', 'A third document']">
        <i class="p-2 fa fa-file fa-2x mx-5 my-2"></i>
        <div class = "p-2 mx-5">
            <div class="row">
                {{ document_name }}                       
            </div>
            <div class="row">
                <small><em>Optional</em></small>
            </div>
        </div>
        <i class="fa fa-info p-2 ml-auto mx-5"></i>
    </div>  
<!-- </div> -->