<!-- <div class="container-fluid"> -->
    <div class="container flex-center">
        <!-- <div class="row"> -->
            <!-- <div class="col-sm-8"> -->
                <button type="button" 
                        routerLink="documents" routerLinkActive="active" 
                        class="btn-flat waves-effect tab text-capitalize my-0">Documents
                </button>
                <button type="button" 
                        routerLink="info" routerLinkActive="active" 
                        class="btn-flat waves-effect tab text-capitalize my-0">Info
                </button>
                <button type="button" 
                        routerLink="analytics" routerLinkActive="active" 
                        class="btn-flat waves-effect tab text-capitalize my-0">Analytics
                </button>
                <button type="button" 
                        routerLink="members" routerLinkActive="active" 
                        class="btn-flat waves-effect tab text-capitalize my-0">Members
                </button>
                <button type="button" 
                        routerLink="settings" routerLinkActive="active" 
                        class="btn-flat waves-effect tab text-capitalize my-0">Settings
                </button>

            <!-- </div> -->
<!--             <div class="col-sm-4 flex-center">
                <app-phase-display></app-phase-display>        
            </div> -->
        <!-- </div> -->
    </div>    
<!-- </div> -->