<!--View for package-->
<br>
<div class="container">
  <br>
  <br>
  <!-- Package header -->
  <div class="row">
    <div class="col-lg-1">
      <h1 class="vp-header-text"><span class="highlight-text"></span>Projects</h1>
      <hr>
    </div>
  </div>
  <!-- /Package header -->

  <!--Panel-->
  <div class="card">
    <h3 class="card-header red darken-2 white-text">Projects</h3>
    <div class="card-body">
      <div class="list-group">
        <div  class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of projects">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><a [routerLink]="['/projects', item.id]">{{ item.name }}</a></h5>
            <i style="cursor:pointer"class="fa fa-trash-o" (click)="deleteProject(item)"></i>
          </div>
          <p class="mb-1">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--/.Panel-->

</div>
