<!-- <br><br>
<div class="container">    
    <div class="card">
        <div class="card-header">
            <h3>Settings</h3>
        </div> -->
        <!-- Analytics -->
        <div class="d-flex align-items-between mx-3 my-3">
            <span>Use Analytics for this project</span>
            <div class="switch ml-auto">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <!-- Something else -->
        <div class="d-flex align-items-between mx-3 my-3">
            <div>
                <span>Do something else</span>
            </div>
            <div class="switch ml-auto">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <!-- Change phase -->
        <div class="d-flex align-items-between mx-3 my-3">
            <div>
                <span>Portfolio phase</span>
            </div>
            <div class="ml-auto">
                <div class="btn-group">
                    <button class="btn btn-sm brand-color dropdown-toggle" type="button" data-toggle="dropdown">Phase 4</button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item">Phase 1</a>
                        <a class="dropdown-item">Phase 2</a>
                        <a class="dropdown-item">Phase 3</a>
                        <a class="dropdown-item">Phase 4</a>
                        <a class="dropdown-item">Phase 5</a>
                    </div>
                </div>
            </div>
        </div>
<!--     </div>
</div> -->