<!--View for package-->
<br>
<div class="container">
  <br>
  <br>
  <!-- Package header -->
  <div class="row">
    <div class="col-lg-1">
      <h1 class="vp-header-text"><span class="highlight-text">Odin/</span>Packages</h1>
      <hr>
    </div>
  </div>
  <!-- /Package header -->

  <!--Panel-->
  <div class="card">
    <h3 class="card-header red darken-2 white-text">Packages</h3>
    <div class="card-body">
      <div class="list-group">
        <a [routerLink]="['/packages', item.id]" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of components">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><span class="red-text">KYLE</span>/{{ item.name }}</h5>
          </div>
          <p class="mb-1">KYLE ERWIN</p>
        </a>
      </div>
    </div>
  </div>
  <!--/.Panel-->

</div>
