<!--View for package-->
<br>
<div class="container">
  <app-search-box></app-search-box>
  <br>
  <br>
  <!-- Package header -->
  <div class="row">
    <div class="col-lg-1">
      <h1 class="vp-header-text"><span class="highlight-text">Odin/</span>Packages</h1>
      <hr>
    </div>
  </div>
  <!-- /Package header -->

  <!--Panel-->
  <div class="card">
    <h3 class="card-header red darken-2 white-text">Packages</h3>
    <div class="card-body">
      <div class="list-group">
        <a *ngFor="let component of components" [routerLink]="['/packages', component.id]" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><span class="red-text">{{ component.author.username }}</span>/{{ component.name }}</h5>
          </div>
          <p class="mb-1">{{ component.description }}</p>
        </a>
      </div>
    </div>
  </div>
  <!--/.Panel-->

</div>
