<!--View for package-->
<br>
<div class="container">
  <br>
  <br>
  <!-- Package header -->
  <div class="row">
    <div class="col-lg-1">
      <h1 class="vp-header-text"><span class="highlight-text">Odin/</span>Packages</h1>
      <hr>
    </div>
  </div>
  <!-- /Package header -->

  <!--Panel-->
  <div class="card">
    <h3 class="card-header brand-color white-text">Featured</h3>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text"></p>
      <a class="btn btn-primary brand-color">View</a>
    </div>
  </div>
  <!--/.Panel-->

</div>
