<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Central Modal Medium Warning -->
    <div class="modal fade" id="centralModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading lead">Warning!</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
          </div>

          <!--Body-->
          <div class="modal-body">
            <div class="text-center">
              <p>Are you sure you want to delete {{ package.name }}</p>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary-modal" (click)="delete()">Yes</a>
            <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Cancel</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Medium Warning-->
  </div>
</div>