<div id="background" class="container-fluid">
    <div id="box" class="text-center">
        <div id="top-bar">
            <div id="closebutton" class="circle"></div>                    
            <div id="genericButton1" class="circle"></div>                    
            <div id="genericButton2" class="circle"></div>                    
            <div id="searchbar"></div>                    
        </div>            
        <div id="red-line"></div>
        <h1 id="errorcode">{{errorcode}}</h1>
        <h4 id="explanation">{{message}}</h4>
    </div>
</div>