<br>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div id="background-div" class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <br>
                        <i id="user-icon" class="fa fa-5x fa-user-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <br>
                        <h1 id="user-name">{{ user?.username }}</h1>
                        <a id="edit-profile-link">{{ user?.email }}</a>
                    </div>
                </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <app-stats-box></app-stats-box>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br>
          <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                  <!--Panel-->
                  <div class="card">
                    <h3 class="card-header dark-text">Projects</h3>
                    <div class="card-body">
                      <div class="list-group">
                        <a [routerLink]="['/projects', item.id]" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of projects">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item.name }}</h5>
                          </div>
                          <p class="mb-1">{{ item.description }}</p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!--/.Panel-->
                </div>
              </div>
              
        </div>
    </div>
</div>
<!--/.Panel-->
