<br>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <app-profile-box></app-profile-box>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <app-stats-box></app-stats-box>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br>
            <app-project-box></app-project-box>
        </div>
    </div>
</div>
<!--/.Panel-->
